@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Advent Pro", sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
}

/****************************** NAVBARRE ********************************/
nav {
  overflow: hidden;
  background-color: #4cff1f83;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

header li {
  float: right;
  font-size: 1.2em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  float: left;
}

/************************ IMAGE PREINCIPALE ************************/
.imagePrincipale {
  padding-top: 60px;
  background: url(./media/image-principale.JPG) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}
h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: #ece7e3;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: -6px 7px 5px black;
}
.premierTrait {
  height: 1px;
  width: 25%;
  margin: 1px auto;
  background-color: #fffae1;
  box-shadow: -6px 7px 5px black;
}
h3 {
  text-align: center;
  color: #ece7e3;
  font-size: 3em;
  text-shadow: -6px 7px 5px black;
}

/************************** PRESENTATION ****************/

.presentation {
  background-color: #e4d5d4;
  padding: 10px 0px 100px 0;
}
.textIntro {
  padding: 0px 20%;
}
#prestation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;
}
.imagesPrestations {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}

.imagesPrestations img {
  border-radius: 20px;
  box-shadow: 4px 1px 7px 1px #380404;
}
.imagesPrestations img:hover {
  opacity: O.5;
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
}

/*********************** TOURISME *****************************/
#tourisme {
  height: 1400px;
  background-color: #84bf62ca;
  padding: 1px 2%;
}

.tourisme h2 {
  padding-top: 20px;
}

#ocean {
  background: url(./media/ocean.jpg);
}
#chateaux {
  background: url(./media/chateau.JPG);
}
#phare {
  background: url(./media/phare.JPG);
}
#vignoble {
  background: url(./media/vignes.jpg);
}

#tourisme li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 500px;
  float: left;
  box-shadow: 6px 5px 8px 4px #982f2f;
  border-radius: 20px;
}
#tourisme li:hover {
  opacity: O.5;
  transform: scale(1.02);
  transition: 0.6s ease-in-out;
}

#tourisme p {
  height: 35px;
  width: 235px;
  background-color: #d2b9af;
  float: right;
  margin: 30px -120px 0 0;
  font-size: 1.5em;
  text-align: center;
  /* padding-top: 15px; */
  box-shadow: 3px 2px 6px 3px #771f1f;
  border-radius: 5px;
}

#tourisme #chateaux,
#tourisme #vignoble {
  float: right;
}

#chateaux p,
#vignoble p {
  float: left;
  background: cyan;
  margin-left: -120px;
}

/************************ FORMULAIRE DE CONTACT *********************/

footer {
  background-color: #946c3c;
  color: #d6c5c5;
  padding: 20px 0px 10px 0px;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input,
textarea,
button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  font-family: "Advent Pro", sans-serif;
  border-radius: 8px;
}
textarea {
  height: 120px;
  resize: none;
}
button {
  font-size: 1.5em;
  background-color: chartreuse;
}
button:hover {
  background-color: yellowgreen;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #e4d5d4;
  margin: 60px auto;
}
.copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
.copyright {
  width: 50%;
  text-align: left;
  color: #e4d5d4;
}
.icons {
  width: 50%;
  text-align: right;
}
.icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #fffae1;
}
.icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
